.ads-title{
    
text-align: center;
font-size: 50px;
   }

   .kategori{
  margin-top: 2%;
}
   .kat-title{
    
text-align: center;
font-size: 50px;
   }

   .kat-img{
    margin-top: 20px;
   }

   .katimg-1{
    width: 350px;
   }

   .katimg-2{
    width: 350px;
   }

    .katimg-3{
    width: 350px;
   }

   .ads-home-title {
    text-align: center;
    font-size: 25px;
    margin-top: 12%;
}